{
  "mcpServers": {
    "tracker_mcp": {
      "command": ".venv/bin/python3",
      "args": ["mcp_proxy.py", "-F", "~/.arc/token", "--endpoint", "mcp.yandex.net/ws?servers=tracker_mcp"]
    },
    "intrasearch": {
      "command": ".venv/bin/python3",
      "args": ["mcp_proxy.py", "-F", "~/.arc/token", "--endpoint", "mcp.yandex.net/ws?servers=intrasearch"]
    },
    "deepagent": {
      "command": ".venv/bin/python3",
      "args": ["mcp_proxy.py", "-F", "~/.arc/token", "--endpoint", "mcp.yandex.net/ws?servers=deepagent"]
    }
  }
}
